<div class="center">
     <h1 >{{spot.name}}</h1>
     <h3> {{spot.location}} </h3>
     <p>  {{spot.description}} </p>
        <h3> Media</h3>
        {{#each media}}
           <img src={{url}} alt="">
            <form action="/{{../stateId}}/{{../spotId}}/media/{{_id}}?_method=DELETE" method="POST">
        <button class="btn center" type="submit">Delete</button>
    </form>
        {{/each}}
        <br>
        <a href="/{{stateId}}/{{spotId}}/media/new" class="waves-effect waves-light btn">Add Photo</a>
        <h3>Comments</h3>

        <div style="display: flex; align-items: center;
    justify-content: center; flex-wrap: wrap;">
    {{#each comments}}
    <div style="border: 1px solid black; margin: 20px; width: 60vw" class="center">
        <h4>
            {{author}}
        </h4>
        <p> {{content}} </p>
         <form action="/{{../stateId}}/{{../spotId}}/{{_id}}?_method=DELETE" method="POST">
        <button class="btn center" type="submit">Delete</button>
    </form>
    </div>
    {{/each}}
    </div>
     <a href="/{{stateId}}/{{spotId}}/comment/new" class="waves-effect waves-light btn">Add Comment</a>

</div>
<a href="/{{stateId}}/{{spotId}}/edit" class="waves-effect waves-light btn left">Edit Post</a>
  <form action="/{{stateId}}/{{spotId}}?_method=DELETE" method="POST">
        <button class="btn right" type="submit">Delete</button>
    </form>

